@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-slate-200 font-sans antialiased;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}